In [ ]:
import pandas as pd
pd.DataFrameE()

In [15]:
import pandas as pd
dict_data={'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}
df=pd.DataFrame(dict_data, index=['A','B','C'])
df.columns=['초1','초2','초3','초4','초5']
print(df)

   초1  초2  초3  초4  초5
A   1   4   7  10  13
B   2   5   8  11  14
C   3   6   9  12  15

In [6]:
data = { 'name': ['Kim', 'Lee', 'Park'], 'age': [24, 27, 34], 'children': [2, 1, 3] } 

pd.DataFrame(data)

   name  age  children
0   Kim   24         2
1   Lee   27         1
2  Park   34         3

In [44]:
data1_ex ={'food':['KFC','McDonald','Schoolfood'],'price':[1000,2000,3000],'rating':[4.5,3.9,4.2]}
data1_ex_frame = pd.DataFrame(data1_ex)
print(data1_ex_frame)

label1=data1_ex_frame.loc['rating']

print(label1)

         food  price  rating
0         KFC   1000     4.5
1    McDonald   2000     3.9
2  Schoolfood   3000     4.2

KeyError: 'rating'

In [29]:
# 방법2)pd.DataFrame(2차원배열, index=행인덱스배열, columns =열이름배열)
d_2=[[15, '남','덕영중'],[17,'여','수리중']]
df2=pd.DataFrame(d_2)
df2.index=['1반','2반']
df2.columns=['나이','성별','학교명']
df2=df2.rename(index={'1반':'준서','2반':'예은'})
df2=df2.rename(columns={'학교명':'학교'})
print(df2)
#반의 이름?
#한 학생의 자료 항목은?
print(df2.index)
print(df2.columns)

df=df2.drop('예은')
print(df2)
#rename

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중
Index(['준서', '예은'], dtype='object')
Index(['나이', '성별', '학교'], dtype='object')
    나이 성별   학교
준서  15  남  덕영중

In [46]:
exam_data={'수학':[90,80,70],'영어':[98,89,95], '음악':[85,95,100],'체육':[100,90,90]}
df=pd.DataFrame(exam_data,index=['서준','우현','인아'])
print(df)
df2=df.copy()
print(df2)
print('\n')
df3=df2.drop('우현')
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [47]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])

# 데이터프레임 출력
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [48]:
# 행 인덱스의 범위를 지정하여 행 선택
label3 = df.loc['서준':'우현']
position3 = df.iloc[0:1]
print(label3)
print('\n')
print(position3)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100

In [49]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')
print(type(df))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


<class 'pandas.core.frame.DataFrame'>

In [50]:
math1 = df['수학']
print(math1)
print('\n')
print(type(math1))

0    90
1    80
2    70
Name: 수학, dtype: int64


<class 'pandas.core.series.Series'>

In [51]:
english = df.영어
print(english)
print('\n')
print(type(english))

0    98
1    89
2    95
Name: 영어, dtype: int64


<class 'pandas.core.series.Series'>

In [52]:
music_gym = df[['음악', '체육']]
print(music_gym)
print('\n')
print(type(music_gym))

    음악   체육
0   85  100
1   95   90
2  100   90


<class 'pandas.core.frame.DataFrame'>

In [53]:
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)

# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df = df.set_index('이름')
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [54]:
a = df.loc['서준', '음악']
print(a)
b = df.iloc[0, 2]
print(b)
c = df.loc['서준', ['음악', '체육']]
print(c)
d = df.iloc[0, [2, 3]]
print(d)
e = df.loc['서준', '음악':'체육']
print(e)
f = df.iloc[0, 2:]
print(f)

85
85
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

In [55]:
df['국어'] = 80
print(df)

    수학  영어   음악   체육  국어
이름
서준  90  98   85  100  80
우현  80  89   95   90  80
인아  70  95  100   90  80

In [56]:
df['컴퓨터'] =[100,80,75] 
print(df)

    수학  영어   음악   체육  국어  컴퓨터
이름
서준  90  98   85  100  80  100
우현  80  89   95   90  80   80
인아  70  95  100   90  80   75

In [57]:
df.loc['길동']=[80,90,80,90,80,100]
print(df)

    수학  영어   음악   체육  국어  컴퓨터
이름
서준  90  98   85  100  80  100
우현  80  89   95   90  80   80
인아  70  95  100   90  80   75
길동  80  90   80   90  80  100

In [58]:
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [59]:
df.loc[3]=0
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0

In [66]:
df.loc[4]=['동규',90,80,70,60]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60

In [69]:
df.loc['우현',['수학','컴퓨터']]=100,90
df

     이름     수학    영어     음악     체육   컴퓨터
0    서준   90.0  98.0   85.0  100.0   NaN
1    우현   80.0  89.0   95.0   90.0   NaN
2    인아   70.0  95.0  100.0   90.0   NaN
3     0    0.0   0.0    0.0    0.0   NaN
4    동규   90.0  80.0   70.0   60.0   NaN
우현  NaN  100.0   NaN    NaN    NaN  90.0