# 판다스 용도
## 데이터수집 정리하는 역활
# 자료형식
## 시리즈, 데이터프레임
# 판다스 목적
## 서로 다른 여러가지 유형의 데이터를 공통 포맷으로 정리하는 것

1. 시리즈
    1.1 1차원 배열

In [5]:
import pandas as pd
dict_data = {'a':1, 'b':2, 'c':3}
sr =pd.Series(dict_data)
print(sr)

a    1
b    2
c    3
dtype: int64

In [7]:
list_data = list(range(10,101,10))
print(list_data)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [8]:
#리스트 자료를 시리즈로 만들기
pd.Series(list_data)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [10]:
list_data=[100,200,300]
list_sr =pd.Series(list_data, index=['a','b','c'])
print(list_sr)

a    100
b    200
c    300
dtype: int64

In [12]:
#튜플자료를 시리즈로 만들기
tuple_data=(300,400,)
tuple_sr = pd.Series(tuple_data, index=['a','b'])
print(tuple_sr)

a    300
b    400
dtype: int64

In [24]:
list_sr = ('2019-01-02',3.14,'ABC',100,'True')
item_list =pd.Series(list_sr, index = range(5))
print(item_list)
sr_index=sr.index
sr_values=sr.values

print(sr_values)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object
[1 2 3]

In [27]:
dict_data={"딸기":5000,"바나나":2000}
fruit=pd.Series(dict_data)
data_list=fruit.index
print(data_list)

Index(['딸기', '바나나'], dtype='object')

In [36]:
num_list = list(range(10,61,10))
index_list = ['a','b','c','d','e','f']
sr_num = pd.Series(num_list, index = index_list)
print(sr_num)
print(sr_num[2])

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64
30

C:\Users\enjoy\AppData\Local\Temp\ipykernel_3436\3359486394.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr_num[2])

In [40]:
#### tup_data=('영인','2010-05-10','여', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
print(sr['성별'])
print(sr[0])
print(sr[['성별','생년월일']]:

print(sr['이름':'성별'])

SyntaxError: invalid syntax (2233415782.py, line 5)

In [43]:
sr_empty = pd.Series()
sr_0 =pd.Series(0)
sr_0 =pd.Series(0,index=[100,200,300])
print(sr_0)
index_list_0100=list(range(0,101,1))
sr_0=pd.Series(0,index=index_list_0100)
print(sr_0)

100    0
200    0
300    0
dtype: int64
0      0
1      0
2      0
3      0
4      0
      ..
96     0
97     0
98     0
99     0
100    0
Length: 101, dtype: int64

In [46]:
ex1_list =range(100,501,100)
ex1_index =['a','b','c','d','e']
ex1_sr = pd.Series(ex1_list,index =ex1_index)
print(ex1_sr)

a    100
b    200
c    300
d    400
e    500
dtype: int64

In [48]:
import pandas as pd
s = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
print(s[1], s[3])

20 40

C:\Users\enjoy\AppData\Local\Temp\ipykernel_3436\4236960758.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[1], s[3])

In [49]:
import pandas as pd
s = pd.Series([12, 24, 36, 48, 60], index=['A','B','C','D','E'])
print(s.index)

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [50]:
print(s)

A    12
B    24
C    36
D    48
E    60
dtype: int64

In [53]:
scores = {
    'Python': 95,
    'Math': 88,
    'English': 76,
    'History': 82
}
ex5_list =scores.values()
ex5_index = scores.keys()
ex5 = pd.Series(ex5_list, index=ex5_index)
print(ex5)
print(ex5[0])

Python     95
Math       88
English    76
History    82
dtype: int64
95

C:\Users\enjoy\AppData\Local\Temp\ipykernel_3436\3185167093.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(ex5[0])

In [55]:
#문제3) 조건 필터링
#다음 시리즈에서 값이 30보다 큰 데이터만 출력하시오.

import pandas as pd
s = pd.Series([15, 25, 35, 45, 55], index=['A', 'B', 'C', 'D', 'E'])
print(s[s>30])

C    35
D    45
E    55
dtype: int64

In [56]:
#문제4) 연산 적용
#아래 시리즈에 10을 더한 새로운 시리즈를 만들어 출력하시오.
s = pd.Series([5, 10, 15, 20, 25])
s_add=s+10
print(s_add)

0    15
1    20
2    25
3    30
4    35
dtype: int64

In [61]:
#문제7) 시리즈 값의 평균 구하기
#다음 시리즈의 평균값을 계산하시오
s = pd.Series([80, 90, 75, 95, 88])
#평균
print(s.mean())
#합계 
print(s.sum())

85.6
428

In [62]:
#문제8) 시리즈 정렬
#아래 시리즈를 값 기준으로 오름차순 정렬하여 출력하시오.
s = pd.Series([42, 16, 58, 33, 95])
print(s.sort_values())

1    16
3    33
0    42
2    58
4    95
dtype: int64

In [73]:
#문제9) 시리즈 NaN 처리
#다음 시리즈에서 NaN을 0으로 채운 새로운 시리즈를 만들어 출력하시오.
import pandas as pd
import numpy as np

s = pd.Series([10, np.nan, 30, np.nan, 50])
s_0 = s.fillna(0)
print(s_0)

0    10.0
1     0.0
2    30.0
3     0.0
4    50.0
dtype: float64

In [76]:
# 문제10) 시리즈 불린 인덱싱
# 다음 시리즈에서 True인 인덱스만 출력하시오.
# 시리즈에 시리즈리스트를 대입
s = pd.Series([True, False, True, False, True], index=['A', 'B', 'C', 'D', 'E'])
print(s[s])

A    True
C    True
E    True
dtype: bool

In [77]:
s_num =[10,3,20,100]
s_num_dp = pd.Series(s_num)
print(s_num_dp[s_num_dp>30])

3    100
dtype: int64